<div id="about" class="container">
  <h2 class="mat-headline-4 text-center" data-en="About Us" data-zh="關於我們">
    About Us
  </h2>
  <mat-card class="my-card card-spacing">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title data-en="Who We Are?" data-zh="我們是誰?">
        Who We Are?</mat-card-title
      >
      <mat-card-subtitle
        >Innovation in stainless steel manufacturing</mat-card-subtitle
      >
    </mat-card-header>
    <img mat-card-image src="about/valveball.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p
        data-en="K.N.S. Enterprise Co., Ltd., established in 1976, thrives on innovation in stainless steel manufacturing."
        data-zh="K.N.S. Enterprise Co., Ltd. 自1976年起，一直是不銹鋼製品創新的代名詞。"
      >
        K.N.S. Enterprise Co., Ltd., established in 1976, thrives on innovation
        in stainless steel manufacturing.
      </p>
      <p
        data-en="We are the go-to experts for sleek stainless steel faucets, robust door handles, and versatile handrail fittings."
        data-zh="我們提供時尚的不銹鋼水龍頭、堅固的門把手和多功能的扶手配件。"
      >
        We are the go-to experts for sleek stainless steel faucets, robust door
        handles, and versatile handrail fittings.
      </p>
      <p
        data-en="Our portfolio also boasts industry-leading sanitary fittings, tubes, and valves tailored for the food & beverage sector, alongside meticulously crafted CNC bar-turned parts and gas springs."
        data-zh="我們的產品組合還包括專為食品和飲料行業設計的頂級衛生配件、管道和閥門，以及精密製造的CNC車床零件和氣彈簧。"
      >
        Our portfolio also boasts industry-leading sanitary fittings, tubes, and
        valves tailored for the food & beverage sector, alongside meticulously
        crafted CNC bar-turned parts and gas springs.
      </p>
      <p
        data-en="Operating globally, we offer exceptional quality at prices that keep us competitive worldwide."
        data-zh="我們的業務遍布全球，以優異的品質和具有競爭力的價格著稱。"
      >
        Operating globally, we offer exceptional quality at prices that keep us
        competitive worldwide.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="my-card card-spacing">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title data-en="What We Do" data-zh="我們做什麼"
        >What We Do?</mat-card-title
      >
      <mat-card-subtitle>We're about setting standards.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="about/what-we-do.jpg" />
    <mat-card-content>
      <p
        data-en="Exports, Imports, and Manufacturing - We're not just about business; we're about setting standards."
        data-zh="出口、進口與製造 - 我們所做的不僅是生意，更是設立標準。"
      >
        Exports, Imports, and Manufacturing - We're not just about business;
        we're about setting standards.
      </p>
      <p
        data-en="Our global reach from Africa to the Americas, Europe to Oceania, our products enhance lives worldwide."
        data-zh="我們的業務範圍從非洲到美洲，從歐洲到大洋洲，我們的產品在全世界提升生活質量。"
      >
        Our global reach from Africa to the Americas, Europe to Oceania, our
        products enhance lives worldwide.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="my-card card-spacing">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title data-en="Our Products" data-zh="我們的產品"
        >Our Products</mat-card-title
      >
      <mat-card-subtitle>Stainless Steel!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="about/CNC.jpg" />
    <mat-card-content>
      <p
        data-en="Stylish Stainless Steel Faucets, Door Handles, and Handrail Fittings - Where precision meets elegance."
        data-zh="時尚的不銹鋼水龍頭、門把手和扶手配件 - 精準與優雅的交匯。"
      >
        Stylish Stainless Steel Faucets, Door Handles, and Handrail Fittings -
        Where precision meets elegance.
      </p>
      <p
        data-en="Sanitary Solutions for the Food & Beverage Industry - Innovating hygiene with every piece we craft."
        data-zh="食品與飲料行業的衛生解決方案 - 每一件產品都在創新。"
      >
        Sanitary Solutions for the Food & Beverage Industry - Innovating hygiene
        with every piece we craft.
      </p>
      <p
        data-en="Precision-Engineered CNC Parts and Gas Springs - Engineered to perfection."
        data-zh="精密工程的CNC零件和氣彈簧 - 追求完美的工程。"
      >
        Precision-Engineered CNC Parts and Gas Springs - Engineered to
        perfection.
      </p>
    </mat-card-content>
  </mat-card>
</div>
