<div id="contact" class="container">
  <h2 class="green-text text-center" data-en="Contacts" data-zh="直接聯絡我們">Contact Us Directly!</h2>
  <div class="contact-container">
    <mat-card>
      <mat-card-content>
        <p class="d-flex align-items-center">
          <mat-icon class="me-4">business</mat-icon>
          <span data-en="K.N.S. Enterprise Co., Ltd." data-zh="鍾嶽國際企業有限公司">K.N.S. Enterprise Co., Ltd.</span>
        </p>
        <p class="d-flex align-items-center">
          <mat-icon class="me-4">phone</mat-icon>
          +886-2-23968107
        </p>
        <p class="d-flex align-items-center">
          <mat-icon class="me-4">print</mat-icon>
          +886-2-23568074
        </p>
        <p class="d-flex align-items-center">
          <mat-icon class="me-4">email</mat-icon>
          <a href="mailto:kns1976@ms2.hinet.net">kns1976&#64;ms2.hinet.net</a>
        </p>
        <p class="d-flex align-items-center">
          <mat-icon class="me-4">meeting_room</mat-icon>
          <span
            data-en="8F., No. 85, Sec. 1, Zhongxiao E. Rd., <br> Zhongzheng Dist., Taipei City, Taiwan (R.O.C.)"
            data-zh="台北市中正區忠孝東路一段85號8樓">
            8F., No. 85, Sec. 1, Zhongxiao E. Rd., <br> Zhongzheng Dist., Taipei City, Taiwan (R.O.C.)</span>
        </p>
        <p class="d-flex align-items-center">
          <mat-icon class="me-4">location_on</mat-icon>
          <span data-en="ZIP Code: 10049" data-zh="郵遞區號：10049">ZIP Code: 10049</span>
        </p>
        <img mat-card-image src="contact/office.png" style="max-width: 200px;" />
      </mat-card-content>
    </mat-card>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.1613803846616!2d121.52966931500375!3d25.041308983972666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a980ea7c7777%3A0x86c4c94f364f2cd8!2s8F%2C%20No.%2085%2C%20Section%201%2C%20Zhongxiao%20East%20Road%2C%20Zhongzheng%20District%2C%20Taipei%20City%2C%20Taiwan%20100!5e0!3m2!1sen!2sph!4v1591625228374!5m2!1sen!2sph"
        frameborder="0" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    </div>
  </div>
</div>
