.container {
  padding: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 垂直居中 */
}

.mat-card {
  margin-bottom: 20px;
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.me-4 {
  margin-right: 16px;
}

.text-center {
  text-align: center;
}

.map-container {
  margin-top: 20px;
  width: 100%;
}

.address-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* 使内容换行 */
}


.address-text {
  flex: 1 1 auto; /* 允许缩放 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 使用省略号表示溢出内容 */
}

@media (min-width: 600px) {
  .contact-container {
    flex-direction: row;
    justify-content: center; /* 水平居中 */
  }

  .mat-card {
    width: 45%; /* 适当调整宽度以适应设计 */
    margin-right: 20px;
    margin-bottom: 0;
  }

  .map-container {
    width: 45%; /* 适当调整宽度以适应设计 */
    margin-top: 0;
  }
}
