<div id="contact" class="container">
  <h2 class="mat-headline-4 text-center" data-en="Contacts" data-zh="直接聯絡我們">Contact Us Directly!</h2>
  <mat-card class="mb-3">
    <mat-card-content>
      <p class="d-flex align-items-center">
        <mat-icon class="me-4">business</mat-icon>
        <span data-en="K.N.S. Enterprise Co., Ltd." data-zh="鍾嶽國際企業有限公司">K.N.S. Enterprise Co., Ltd.</span>
      </p>
      <p class="d-flex align-items-center">
        <mat-icon class="me-4">phone</mat-icon>
        +886-2-23968107
      </p>
      <p class="d-flex align-items-center">
        <mat-icon class="me-4">print</mat-icon>
        +886-2-23568074
      </p>
      <p class="d-flex align-items-center">
        <mat-icon class="me-4">email</mat-icon>
        <a href="mailto:kns1976@ms2.hinet.net">kns1976&#64;ms2.hinet.net</a>
      </p>
      <p class="d-flex align-items-center">
        <mat-icon class="me-4">place</mat-icon>
        <span class="text-nowrap"
          data-en="8F., No. 85, Sec. 1, Zhongxiao E. Rd., Zhongzheng Dist., Taipei City, 10049, Taiwan (R.O.C.)"
          data-zh="10049 台北市中正區忠孝東路一段85號8樓">
          8F., No. 85, Sec. 1, Zhongxiao E. Rd., Zhongzheng Dist., Taipei City, 10049, Taiwan (R.O.C.)</span>
      </p>
    </mat-card-content>
  </mat-card>
  <!-- Full width Google Map iframe -->
  <!-- <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.1613803846616!2d121.52966931500375!3d25.041308983972666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a980ea7c7777%3A0x86c4c94f364f2cd8!2s8F%2C%20No.%2085%2C%20Section%201%2C%20Zhongxiao%20East%20Road%2C%20Zhongzheng%20District%2C%20Taipei%20City%2C%20Taiwan%20100!5e0!3m2!1sen!2sph!4v1591625228374!5m2!1sen!2sph"
      frameborder="0" style="border:0; width: 100%; height: 500px;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div> -->
</div>
