.logo {
  height: 40px;
  /* 调整这个高度以适应你的设计 */
  margin-right: 16px;
  /* 添加一些右边距离使其与后续元素分开 */
}

.center-logo {
  margin: 0 auto;
}

.sidenav-content {
  padding-top: 64px; /* Adjust this value based on the actual height of your toolbar */
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* High z-index to keep toolbar above other content */
}