<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list (click)="sidenav.close()">
      <mat-expansion-panel (click)="$event.stopPropagation()" hideToggle>
        <mat-expansion-panel-header (click)="$event.stopPropagation()">
          <mat-panel-title>
            <span class="entry">
              <mat-icon>expand_more</mat-icon>
              <span>Products</span>
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/valve-balls" (click)="sidenav.close()">Valve Balls</a>
        <a mat-list-item [routerLink]="'/products'" [queryParams]="{filter: 'Tube Fittings'}" (click)="sidenav.close()">Sanitary Fittings</a>
      </mat-expansion-panel>
      <a mat-list-item routerLink="/about">
        <span class="entry">
          <mat-icon>account_circle</mat-icon>
          <span>About Us</span>
        </span>
      </a>
      <a mat-list-item routerLink="/contact">
        <span class="entry">
          <mat-icon>contact_support</mat-icon>
          <span>Contact Us</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="fixed-toolbar tool-bar-color">
      <ng-container *ngIf="isMobileScreen">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="green-text">menu</mat-icon>
        </button>
      </ng-container>
      <a routerLink="/"
        ><img
          src="kns-logo-bright@2x.png"
          class="logo"
          [class.center-logo]="isMobileScreen"
      /></a>
      <ng-container *ngIf="!isMobileScreen">
        <a mat-button [matMenuTriggerFor]="dropdown"
          ><span class="green-text">Products</span
          ><mat-icon class="green-text">expand_more</mat-icon></a
        >
        <mat-menu #dropdown>
          <button mat-menu-item routerLink="/valve-balls">Valve Balls</button>
          <button mat-menu-item [routerLink]="'/products'" [queryParams]="{filter: 'Tube Fittings'}">
            Sanitary Fittings
          </button>
        </mat-menu>
        <a mat-button routerLink="/about">
          <mat-icon class="green-text">account_circle</mat-icon
          ><span class="green-text">About Us</span>
        </a>
        <a mat-button routerLink="/contact">
          <mat-icon class="green-text">contact_support</mat-icon
          ><span class="green-text">Contact Us</span>
        </a>
      </ng-container>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
