.grid-container {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  /* 创建多列，每列宽度在250px到300px之间 */
  grid-gap: 16px;
  /* 设置网格间的间隙 */
  justify-content: center;
  /* 居中显示 */
}

.main-color {
  background-color: #07930b !important;
  color: #fff !important;
}

mat-chip-selected {
  background-color: #09472c !important;
}

mat-chip:hover {
  background-color: #09472c !important;
  /* 悬停时改变背景色 */
  cursor: pointer !important;
}

.mat-chip {
  margin: 4px;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 居中对齐 */
}

mat-form-field {
  padding-top: 20px;
  width: 80%;
  /* 设置宽度为80% */
}

mat-label {
  color: #09472c;
}
