.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .mat-card {
    flex: 1 1 300px; /* 每张卡片的最小宽度 */
    max-width: 400px; /* 每张卡片的最大宽度 */
  }
  
  .product-detail {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }