/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
}

.green-text {
  color: #09472c;
}

.black-text {
  color: #000000;
}

.red-text {
  color: #ff0000;
}
