


<swiper-container
  pagination="true"
  navigation="true"
  autoplay-delay="2500"
  loop="true"
  effect="coverflow" grab-cursor="true" centered-slides="true"
  slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true"

>
  <!-- <swiper-slide *ngFor="let img of images">
    <img [src]="img" alt="Slide image">
  </swiper-slide> -->
  <swiper-slide><img src="banner/DSC_0012.JPG"></swiper-slide>
  <swiper-slide><img src="banner/Sanitary-Tube-Fittings.jpg"></swiper-slide>
  <swiper-slide><img src="banner/UNION-FITTINGS.JPG"></swiper-slide>
  <swiper-slide><img src="banner/TRI-CLAMP-FITTINGS-2.JPG"></swiper-slide>
</swiper-container>

<div class="content">
  <p>Good</p>
  <p>Good</p>
  <p>Good</p>
  <p>Good</p>
  <p>Good</p>
  <p>Good</p>
  <p>Good</p>
</div>
