swiper-container {
  width: 100%;
  height: 70%;
  /* background: #000; */
}

swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 36px 60px;
}

/* .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}  */


.gray-text {
  color: #777; /* 设置文本颜色为深灰色 */
}
.font-size-35 {
  font-size: 35px;
}

.bold-blue {
  color: #34589f;
  font-weight: bold;
}

.bold-green {
  color: #09472c;
  font-weight: bold;
}

.gray-bg {
  background-color: rgba(128, 128, 128, 0.5); /* 设置背景色为灰色，50% 透明度 */
}

.banner-height {
  /* height: 70%; */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

swiper-slide .title {
  font-size: 50px;
  font-weight: 300;
}

swiper-slide .subtitle {
  font-size: 30px;
}

swiper-slide .text {
  font-size: 22px;
  max-width: 50%;
  line-height: 1.3;
}

@media (max-width: 800px) {
  swiper-slide .text {
    font-size: 18px;
    max-width: 80%;
    line-height: 1.3;
  }
}


.content {
  font-family: 'Arial', sans-serif; /* 使用无衬线字体 */
  line-height: 1.6; /* 增加行间距 */
  font-size: 18px; /* 适合阅读的字体大小 */
  /*text-align: justify;  两端对齐文本 */
  padding: 20px; /* 增加内边距 */
  margin: 20px auto; /* 上下保留20px间隔，左右居中 */
  max-width: 1000px; /* 最大宽度，保持内容的可读性 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影以提升层次感 */
  background-blend-mode: darken; /* 若背景图太亮，可使用此属性暗化背景 */
}