<swiper-container
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="mySwiper"
  speed="2000"
  parallax="true"
  pagination="true"
  pagination-clickable="true"
  autoplay-delay="2500"
  loop="true"
>
  <!-- <div
    slot="container-start"
    class="parallax-bg"
    style="
      background-image: url(https://swiperjs.com/demos/images/nature-1.jpg);
    "
    data-swiper-parallax="-23%"
  ></div> -->

  <swiper-slide class="banner-height" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)),url(banner/DSC_0012.png);">
    <div class="title gray-text" data-swiper-parallax="-5000"><span class="bold-green">K</span>ey Quality Products</div>
    <div class="subtitle gray-text" data-swiper-parallax="-1000">Over <span class="red-text font-size-35">99%</span> Yield Rate</div>
    <div class="text" data-swiper-parallax="-100">
      <p class="gray-bg">
        We enhance the precision of our products with strict quality control to ensure that every item delivered to you excels in performance.
      </p>
    </div>
  </swiper-slide>
  <swiper-slide class="banner-height" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), url(banner/Sanitary-Tube-Fittings.jpg);">
    <div class="title black-text" data-swiper-parallax="-5000"><span class="bold-green">N</span>iche Customization</div>
    <div class="subtitle black-text" data-swiper-parallax="-1000">Tailored to Customer Needs</div>
    <div class="text" data-swiper-parallax="-100">
      <p class="gray-bg">
        Providing flexible customization and assisting customers in meeting their product requirements is our mission.
      </p>
    </div>
  </swiper-slide>
  <swiper-slide class="banner-height" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)),url(banner/swift-delivery.jpg);">
    <div class="title black-text" data-swiper-parallax="-5000"><span class="bold-green">S</span>wift Delivery</div>
    <div class="subtitle black-text" data-swiper-parallax="-1000">Expedited Service, Every Time</div>
    <div class="text" data-swiper-parallax="-100">
      <p class="gray-bg">
        We prioritize rapid processing and delivery, ensuring that every order reaches you faster without compromising quality. Our commitment to speed transforms the way you receive products, making efficiency a standard part of your experience.
      </p>
    </div>
  </swiper-slide>
</swiper-container>

<div class="content">
  <h1>Our Mission is to Provide <span class="bold-green">ONE-STOP SERVICE</span> Experience !!!</h1>
  <p>Since its inception in 1976, KNS started as a small trading company, dedicated to providing export channels for Taiwanese factories. </p>
  <p>Over the years, our consistent experience and positive customer feedback have helped us build a stable clientele and establish robust supply chain partnerships with numerous Taiwanese manufacturers.</p> 
  <p>In the 1980s, we expanded our operations to North America. By the 1990s, we had extended further into Central and South America, with our supply chain reaching partners in Southeast Asia.</p>
  <p>Entering the 2000s, we successfully fulfilled numerous orders for European clients. Today, we have a broad customer base across Asia, the Americas, and Europe, and are well-versed in the trade processes and regulations of these regions.</p> 
  <p>We offer a one-stop service that encompasses requirement gathering, customization, shipping, and inspection, continually striving to enhance customer satisfaction as our core mission.</p>
  <p>It's worth mentioning that our company is poised to celebrate its 50th anniversary on December 25, 2026.</p>
</div>
